<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu tree" data-widget="tree">
      <li class="sidebar-menu header">Resource</li>
      <!-- Optionally, you can add icons to the links -->
      <li ><a href="javascript:;" (click)="nav('server')"><i class="fa fa-server"></i> <span>Server</span></a></li>
      <li ><a href="javascript:;" (click)="nav('modelres')"><i class="fa fa-certificate"></i> <span>ModelRes</span></a></li>
      <li ><a href="javascript:;" (click)="nav('datares')"><i class="fa fa-certificate"></i> <span>DataRes</span></a></li>
      <li ><a href="javascript:;" (click)="nva('file')"><i class="fa fa-file"></i><span> File</span></a></li>
      <li ><a href="javascript:;" (click)="nav('tool')"><i class="fa fa-cubes"></i> <span>Tool</span></a></li>
      <li class="sidebar-menu header">WorkSpace</li>
      <li ><a href="javascript:;" (click)="nav('solution')"><i class="fa fa-sitemap"></i> <span>Solution</span></a></li>
      <li ><a href="javascript:;" (click)="nav('task')"><i class="fa fa-paper-plane"></i> <span>Task</span></a></li>
      <li ><a href="javascript:;" (click)="nav('visual')"><i class="fa fa-globe"></i> <span>Visualization</span></a></li>
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
